<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hong.ssm.mapper.DbMapper">
    
    <sql id="yyBondYieldColumnList">
            bondCode,
            shortName,
            fullName,
            bondType,
            issueMethod,
            issuerName,
            customType,
            residualMaturity,
            bondYield,
            defaultRate,
            assessDate
    </sql>

    <sql id="yyIssuerInfoColumnList">
            issuerID,
            issuerName,
            registerCode,
            issuerType,
            yYRating,
            intrinsicRating,
            corporateRating,
            ratingAgency,
            holder,
            nature,
            listed,
            creditAnalysis,
            ctExtendInfo,
            cyExtendInfo
    </sql>
    
     <insert id="insertYyBondYield" parameterType="com.hong.ssm.domain.YyBondYield">
          insert into yy_bond_yield (
            <include refid="yyBondYieldColumnList" />
            )
            values
                (
                #{bondCode},
                #{shortName},
                #{fullName},
                #{bondType},
                #{issueMethod},
                #{issuerName},
                #{customType},
                #{residualMaturity},
                #{bondYield},
                #{defaultRate},
                #{assessDate}
                )
     </insert>

    <select id="findOne" resultType="com.hong.ssm.domain.YyBondYield">
        select * from yy_bond_yield limit 0,1
    </select>

    <insert id="insertYyIssuerInfo" parameterType="com.hong.ssm.domain.YyIssuerInfo">
        insert into yy_issuer_info (
        <include refid="yyIssuerInfoColumnList" />
        )
        values
        (
        #{issuerID},
        #{issuerName},
        #{registerCode},
        #{issuerType},
        #{yYRating},
        #{intrinsicRating},
        #{corporateRating},
        #{ratingAgency},
        #{holder},
        #{nature},
        #{listed},
        #{creditAnalysis},
        #{ctExtendInfoStr},
        #{cyExtendInfoStr}
        )
    </insert>

    <select id="findByIssuerID" resultType="com.hong.ssm.domain.YyIssuerInfo" parameterType="string">
        select t.ctExtendInfo as ctExtendInfoStr,
        t.cyExtendInfo as cyExtendInfoStr,
        t.*
        from yy_issuer_info t
        where t.issuerID = #{issuerID}
    </select>

    <resultMap id="GkZjFxCpInfoResultMap" type="hashmap">
        <result column="sid" property="sid" javaType="long"/>
        <result column="bondCode" property="bondCode" javaType="string"/>
        <result column="shortName" property="shortName" javaType="string"/>
        <result column="residualMaturity" property="residualMaturity" javaType="string"/>
        <result column="bondYield" property="bondYield" javaType="java.math.BigDecimal"/>
        <result column="defaultRate" property="defaultRate" javaType="java.math.BigDecimal"/>
        <result column="implied_rating" property="impliedRating" javaType="string"/>
        <result column="net_price" property="netPrice" javaType="java.math.BigDecimal"/>
        <result column="yield_rate" property="yieldRate" javaType="java.math.BigDecimal"/>
        <result column="assessDate" property="assessDate" javaType="string"/>
        <result column="assess_date" property="assessDateZz" javaType="string"/>
        <result column="updateDate" property="updateDate" javaType="string"/>
        <result column="update_date" property="updateDateZz" javaType="string"/>
    </resultMap>

    <select id="jinQiGkZjFxCpInfo"  resultMap="GkZjFxCpInfoResultMap" parameterType="string">
	  SELECT
		a.sid,
		a.bondCode,
		a.shortName,
		a.residualMaturity,
		a.bondYield,
		a.defaultRate,
		c.implied_rating,
		c.net_price,
		c.yield_rate,
		DATE_FORMAT(a.assessDate,'%Y-%m-%d') AS assessDate,
		DATE_FORMAT(c.assess_date,'%Y-%m-%d') AS assess_date,
		DATE_FORMAT(a.update_date,'%Y-%m-%d') AS updateDate,
		DATE_FORMAT(c.update_date,'%Y-%m-%d') AS update_date
		FROM yy_bond_yield a
		LEFT JOIN (SELECT bondCode,MAX(update_date) max_date FROM yy_bond_yield WHERE issuerName=#{issuerName} GROUP BY shortName)b
		ON a.bondCode=b.bondCode AND a.update_date=b.max_date
		LEFT JOIN (SELECT bond_code,MAX(implied_rating) implied_rating,MAX(net_price) net_price,MAX(yield_rate) yield_rate,MAX(assess_date) assess_date,MAX(update_date) update_date
		FROM csciapi_chengtou_china_bond_info GROUP BY 1) c
		ON CAST(SUBSTRING_INDEX(b.bondCode,'.',1) AS DECIMAL)=CAST(c.bond_code AS DECIMAL)
		<![CDATA[WHERE b.bondCode<>'']]>
    </select>

    <resultMap id="CsciapiChengtouCompanyRatingMap" type="com.hong.ssm.domain.CsciapiChengtouCompanyRating">
        <id column="id" property="id" />
        <result column="company_id" property="companyId" />
        <result column="company_name" property="companyName" />
        <result column="region" property="region" />
        <result column="category" property="category" />
        <result column="yy_rating" property="yyRating" />
        <result column="yy_rating_dt" property="yyRatingDt" />
        <result column="yy_province_rank" property="yyProvinceRank" />
        <result column="yy_province_percent" property="yyProvincePercent" />
        <result column="yy_white_rank" property="yyWhiteRank" />
        <result column="yy_white_percent" property="yyWhitePercent" />
        <result column="yy_out_rank" property="yyOutRank" />
        <result column="yy_out_percent" property="yyOutPercent" />
        <result column="yy_country_rank" property="yyCountryRank" />
        <result column="yy_country_percent" property="yyCountryPercent" />
        <result column="cscs_rating" property="cscsRating" />
        <result column="cscs_rating_dt" property="cscsRatingDt" />
        <result column="cscs_province_rank" property="cscsProvinceRank" />
        <result column="cscs_province_percent" property="cscsProvincePercent" />
        <result column="cscs_white_rank" property="cscsWhiteRank" />
        <result column="cscs_white_percent" property="cscsWhitePercent" />
        <result column="cscs_out_rank" property="cscsOutRank" />
        <result column="cscs_out_percent" property="cscsOutPercent" />
        <result column="cscs_country_rank" property="cscsCountryRank" />
        <result column="cscs_country_percent" property="cscsCountryPercent" />
        <result column="out_rating" property="outRating" />
        <result column="out_rating_dt" property="outRatingDt" />
        <result column="out_province_rank" property="outProvinceRank" />
        <result column="out_province_percent" property="outProvincePercent" />
        <result column="out_white_rank" property="outWhiteRank" />
        <result column="out_white_percent" property="outWhitePercent" />
        <result column="out_country_rank" property="outCountryRank" />
        <result column="out_country_percent" property="outCountryPercent" />
        <result column="dm_rating" property="dmRating" />
        <result column="dm_rating_dt" property="dmRatingDt" />
        <result column="dm_province_rank" property="dmProvinceRank" />
        <result column="dm_province_percent" property="dmProvincePercent" />
        <result column="dm_white_rank" property="dmWhiteRank" />
        <result column="dm_white_percent" property="dmWhitePercent" />
        <result column="dm_out_rank" property="dmOutRank" />
        <result column="dm_out_percent" property="dmOutPercent" />
        <result column="dm_country_rank" property="dmCountryRank" />
        <result column="dm_country_percent" property="dmCountryPercent" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <select id="getZxCtCompanyRating"  resultMap="CsciapiChengtouCompanyRatingMap">
	   SELECT
		DATE_FORMAT(t.`cscs_rating_dt` ,'%Y-%m-%d') AS cscs_rating_dt,
		DATE_FORMAT(t.`dm_rating_dt`,'%Y-%m-%d') AS dm_rating_dt,
		DATE_FORMAT(t.`out_rating_dt`,'%Y-%m-%d') AS out_rating_dt,
		DATE_FORMAT(t.`yy_rating_dt`,'%Y-%m-%d') AS yy_rating_dt,
		t.*
		FROM csciapi_chengtou_company_rating t
	   WHERE t.company_name=#{companyName}
	   ORDER BY t.update_date DESC LIMIT 1
	</select>

    <select id="zxhList" resultType="map">
        SELECT t.`LETTER_ID`,NAME,VALUE
        FROM t_zxh_letter t LEFT JOIN t_zxh_letter_busi t1 ON t.`ID`=t1.`LETTER_ID`
    </select>
</mapper>